extends layout.pug 

block content 
    .blog-container 
        img.img(src='/static/images/' + blog.image,  alt="", width=800)    
        h1.title= blog.title 
        p.author= blog.author 
        p.body= blog.body
