extends layout.pug 

block content 
    form(action="/create" method="post" enctype="multipart/form-data")
        input(type="text" name="title" placeholder="Title")
        input(type="text" name="author" placeholder="Author")
        label Blog 
        textarea(name="body", cols="30", rows="10") 
        input(type="file" name="image") 
        button.link-btn.btn-create Publish