extends layout.pug 

block content 
    .home-container
        h1.main Bloggo is the blogging website which allows users to add, read and delete blogs 
        p.acknowledgement This web application was created to fulﬁll Web Technology module’s requirements and does not represent an actual company or service
        a.link-btn(href="/create") Add