doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="/static/styles.css")
        title Blog
    body 
        header
            a(href="/") Bloggo

        nav 
            a.nav-item(href="/blogs") All blogs
        
        block content